.header-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ul {
    display: flex;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 2.85rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    position: relative;
    li {
      font-weight: 200;
      flex: 1;
      line-height: 0.6rem;
      font-size: 0.3rem;
      position: relative;
      color: #fff;
      &.active {
        color: #fd7322;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 0.3rem;
      background-color: #fff;
      width: 50%;
      height: 100%;
      transition: 0.3s;
    }

    &.left::before {
      left: 0;
      // 也可以使用 translate 去移动
    }

    &.right::before {
      left: 50%;
    }
  }
}
